@use "../Color.scss";

.form-content {
  .upload-box {
    height: 30%;
    text-align: center;
    border: 2px dashed Color.$first;
    background-color: lightgray;
    border-radius: 8px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .uploaded-files {
    max-height: 60%;
    width: 100%;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    h3 {
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
      color: darkgray;
    }

    ul {
      max-height: 90%;
      overflow-y: auto;
      list-style: none;

      .uploaded-file-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem;
        border-bottom: 1px solid lightgray;

        &:last-child {
          border-bottom: none;
        }

        input {
          flex: 1;
          padding: 0.5rem;
          border: 1px solid lightgray;
          border-radius: 5px;
          margin-right: 0.5rem;
        }

        .remove-btn {
          padding: 0.5rem;
          background-color: Color.$first;
          color: white;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: Color.$first-hover;
          }
        }
      }
    }
  }
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 1ch;
  width: 100%;

  button {
    flex: 1;
  }
  .primary {
    &:hover {
      background-color: Color.$first-hover;
    }
  }
}
