@use "../Color.scss";

#map {
  width: 100%;
  height: 100%;
  --shared-width: 30vw;

  .insert-mode {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: var(--shared-width);
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 4% 8% rgba(0, 0, 0, 0.2);

    h2,
    h3 {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: 0.2rem 0;
      text-align: center;
    }

    h2 {
      font-family: "SwedenSansBold", sans-serif;
      font-size: 1.5rem;
      color: Color.$first;
    }

    h3 {
      font-family: "SwedenSans", sans-serif;
      font-size: 1rem;
      color: Color.$first;
    }

    .edit-area-btn {
      margin: 1rem;
      width: 30%;
      color: white;
      background-color: Color.$first;
      font-size: 1.2rem;
      &:hover {
        background-color: Color.$first-hover;
        transform: scale(1.005);
      }
    }
  }

  .size {
    transform: scale(1.4);
  }

  .map-type-selector-wrapper {
    position: absolute;
    display: flex;
    width: 13vw;
    justify-content: space-evenly;
    align-items: center;
    top: 1rem;
    left: 1rem;
    padding: 0 1rem;
    border: 0.2rem solid Color.$first;
    border-radius: 1rem;
    background-color: Color.$third;
    z-index: 1;

    .material-symbols-outlined {
      color: Color.$first;
      transform: scale(1.5);
    }

    .map-types {
      position: relative;
      z-index: 1;
      padding: 0.5rem;
      background-color: inherit;
      color: Color.$first;
      font-family: "SwedenSansBold", sans-serif;
      font-size: 1.3rem;
      outline: none;
    }
  }

  #google-map {
    width: 100%;
    height: 100%;
  }
}

.cluster-icon {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  color: Color.$first;
  background-size: contain;
  text-align: center;
  line-height: 5.3rem;
  font-family: "SwedenSansBold", sans-serif;
  font-size: 1.6em;
  justify-content: center;
  background-image: url("https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m2.png");
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

.drawing-controls {
  position: fixed;
  width: var(--shared-width);
  z-index: 1;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 1rem;

  #municipal-btn,
  #polygon-btn,
  #marker-btn {
    border-radius: 1rem;
    width: 13vw;
    height: 6.5vh;
    background-color: Color.$third;
    color: Color.$first;
    border: 0.2rem solid Color.$first;
    cursor: pointer;
    transition:
      background-color 0.3s ease,
      color 0.3s ease;

    &:hover {
      background-color: #bfbfac;
      color: Color.$first;
    }
  }

  .municipal-container,
  .polygon-container,
  .marker-container {
    display: flex;
    align-items: center;

    .material-symbols-outlined {
      transform: scale(1.5);
    }

    h4 {
      font-size: 1.2rem;
    }
  }

  .municipal-container {
    justify-content: space-around;
  }

  .polygon-container,
  .marker-container {
    justify-content: space-evenly;
  }
}
