@use "../Color.scss";

#map {
  width: 100%;
  height: 100%;
  --shared-width: 37vw;

  .insert-mode {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: var(--shared-width);
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 4% 8% rgba(0, 0, 0, 0.2);

    h2,
    h3 {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: 0.2rem 0;
      text-align: center;
    }

    h2 {
      font-family: "SwedenSansBold", sans-serif;
      font-size: 1.5rem;
      color: Color.$first;
    }

    h3 {
      font-family: "SwedenSans", sans-serif;
      font-size: 1rem;
      color: Color.$first;
    }

    .edit-area-btn {
      margin: 1rem;
      width: 30%;
      color: white;
      background-color: Color.$first;
      font-size: 1.2rem;
      &:hover {
        background-color: Color.$first-hover;
        transform: scale(1.005);
      }
    }
  }

  .size {
    transform: scale(1.4);
  }

  .map-type-selector-wrapper {
    position: absolute;
    display: flex;
    width: 13vw;
    justify-content: space-evenly;
    align-items: center;
    top: 1rem;
    left: 1rem;
    padding: 0 1rem;
    border: 0.2rem solid Color.$first;
    border-radius: 1rem;
    background-color: Color.$third;
    z-index: 1;

    .material-symbols-outlined {
      color: Color.$first;
    }

    .map-types {
      position: relative;
      z-index: 1;
      padding: 0.5rem;
      background-color: inherit;
      color: Color.$first;
      font-family: "SwedenSansBold", sans-serif;
      font-size: 1.3rem;
      outline: none;
    }
  }

  #google-map {
    width: 100%;
    height: 100%;
  }
}

.drawing-controls {
  position: fixed;
  height: 6.5vh;
  z-index: 1;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 1rem;

  button {
    border-radius: 1rem;
    width: 13vw;
    background-color: Color.$third;
    color: Color.$first;
    border: 0.2rem solid Color.$first;
    cursor: pointer;
    transition:
      background-color 0.3s ease,
      color 0.3s ease,
      transform 0.2s ease;

    &:hover {
      background-color: #bfbfac;
      color: Color.$first;
    }

    &.active {
      background-color: Color.$second;
      border: 0.2rem solid Color.$first;
      transform: scale(1.05);
    }

    .material-symbols-outlined {
      color: inherit;
      transform: scale(1.5);
    }
  }

  .municipal-container,
  .polygon-container,
  .marker-container,
  .existing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    h4 {
      font-size: 1.2rem;
    }
  }

  .municipal-container {
    justify-content: space-around;
  }

  .polygon-container,
  .marker-container,
  .existing-container {
    justify-content: space-evenly;
  }
}

.info-cluster {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  color: white;
  opacity: 0;
  transform: scale(0.9);
  transition:
    opacity 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}

.info-cluster.hide {
  opacity: 0;
  transform: scale(0.9);
  transition:
    opacity 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}

.info-cluster.show {
  opacity: 1;
  transform: scale(1);
}

.doc-item {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-start;
  font-family: "SwedenSansBold", sans-serif;
  background-color: white;
  padding: 0.7rem;
  color: Color.$first;
  border: 0.1rem solid Color.$first;
  border-radius: 1rem;
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: Color.$third;
  }

  &.selected {
    background-color: Color.$second;
    border: 2px solid Color.$first;
  }
}
