@use "../Color.scss";

.document-icon {
  border: 2px solid Color.$first;
  border-radius: 50%;
  width: 4.5rem;
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: Color.$third;

  cursor: pointer;

  &.linked {
    background-color: Color.$second;
    border: 2px solid green;
  }

  &.iytig {
    background-color: rgb(0, 255, 0);
    border: 2px solid green;
  }

  &:hover {
    background-color: Color.$second;
  }
}

.gm-style .gm-style-iw-c,
.gm-style .gm-style-iw-tc::after {
  font-family: "SwedenSans", sans-serif;
  font-size: 2.5ch;
  background: Color.$first;
  border-radius: 1rem;
}

.gm-style-iw-d {
  overflow: auto !important;
}

.gm-style-iw-c {
  padding-right: 12px !important;
  padding-bottom: 12px !important;
}

.info-window {
  color: white;
  opacity: 0;
  transform: scale(0.9);
  transition:
    opacity 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}

.info-window.show {
  opacity: 1;
  transform: scale(1);
}

.iw-type-image {
  padding-top: 2px;
}
