@use "../Color.scss";

.document-icon {
  border: 2px solid Color.$first;
  border-radius: 50%;
  width: 4.5rem;
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: Color.$third;

  cursor: pointer;

  &.linked {
    background-color: Color.$second;
    border: 2px solid green;
  }

  &:hover {
    background-color: Color.$second;
  }
}

div.gm-style-iw.gm-style-iw-c,
div.gm-style-iw-d,
div.gm-style-iw-tc {
  background-color: Color.$first;
}

.info-window {
  opacity: 0;
  transform: scale(0);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}

.info-window.show {
  opacity: 1;
  transform: scale(1);
}
