@use "../Color.scss";

.minimap-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Opacità per evidenziare il popup */
  z-index: 1; /* Sotto la minimap */
  pointer-events: auto; /* Cattura i clic */
}

.minimap {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 80%;
  height: 80%;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); // Ombra più leggera
  border-radius: 1rem;
  padding: 1rem;
  z-index: 2; // Assicurati che il popup sia sopra gli altri elementi
  overflow: hidden;

  .update-mode {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 4% 8% rgba(0, 0, 0, 0.2);
    z-index: 2;

    h2,
    h3 {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: 0.2rem 0;
      text-align: center;
    }

    h2 {
      font-family: "SwedenSansBold", sans-serif;
      font-size: 1.5rem;
      color: Color.$first;
    }

    h3 {
      font-family: "SwedenSans", sans-serif;
      font-size: 1rem;
      color: Color.$first;
    }

    .edit-area-btn {
      margin: 1rem;
      width: 30%;
      color: white;
      background-color: Color.$first;
      font-size: 1.2rem;
      &:hover {
        background-color: Color.$first-hover;
        transform: scale(1.005);
      }
    }
  }
}

.minimap .google-map-container {
  width: 100%;
  height: 100%;
}

.minimap .close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: #ff6b6b; // Colore rosso per il bottone di chiusura
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px; // Icona più grande
  cursor: pointer;
  z-index: 3; // Assicurati che il bottone sia sopra alla mappa
}
