$main: linear-gradient(45deg, #005293, #fecb00);
$sidebar-background: linear-gradient(180deg, #005293, #005293, #fecb00);
$dark-main: linear-gradient(135deg, #0c2b46, #a47634);
$first: #005293;
$first-hover: #1a3050;
$second: #fecb00;
$third: #e8e3d1;
