#diagram {
  width: 100%;
  height: 100%;
  display: flex;

  .labels-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-right: 1px solid black;
  }

  .label {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  svg {
    flex: 9;
    width: 100%;
    height: 100%;
  }

  g.documents {
    stroke-width: 2;
    stroke: black;
    fill: white;

    circle {
      r: 1%;

      &:hover {
        r: 1.2%;
      }

      transition: 350ms ease;
    }
  }

  g.links {
    line {
      stroke: black;
    }
  }
}
