@use "Color";

$column-gap: 2ch;

form.document.modal {
  font-family: "SwedenSans", sans-serif;
  position: absolute;
  background-color: Color.$third;
  top: 11vh;
  left: 0;
  right: 0;
  margin-inline: auto;
  height: 82%;
  width: 38vw;
  border-radius: 1rem;
  padding: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $column-gap;
  z-index: 1000;

  button.close {
    position: absolute;
    $close-button-size: 3em;
    width: $close-button-size;
    height: $close-button-size;
    $close-button-gap: 10px;
    top: $close-button-gap;
    right: $close-button-gap;
    border-radius: 50%;
    border: none;
    background-color: Color.$first;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 70%;
    }

    &:hover {
      background-color: Color.$first-hover;
    }
  }

  .progress-bar,
  .form-group.title,
  .form-group.description,
  .form-group.stakeholders,
  button[type="submit"],
  h2 {
    grid-column: 1 / span 2;
  }

  h2,
  label {
    font-family: "SwedenSansBold", sans-serif;
    color: Color.$first;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    > label {
      margin-bottom: 0.2em;
    }
  }

  label {
    color: Color.$first;
  }

  input:not([type="checkbox"]),
  textarea,
  select {
    padding: 0.4em 2ch;
  }

  .checkbox-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: $column-gap;
  }

  input[type="checkbox"] {
    margin-right: 0.8ch;
  }

  button[type="submit"] {
    color: white;
    font-size: 1.2rem;
    &:hover {
      background-color: Color.$first-hover;
      transform: scale(1.005);
    }
  }
}

form.document.page-2 {
  .actions,
  table.links,
  p,
  .search-bar {
    grid-column: 1 / span 2;
  }

  .search-bar {
    align-self: flex-end;
  }

  .actions {
    display: flex;
    gap: 1ch;
    align-self: flex-end;

    button {
      flex: 1;
    }
    .primary {
      &:hover {
        background-color: Color.$first-hover;
      }
    }
  }
}
