@use "variables";

.body-container {
  display: inline-flex;
  justify-content: space-between;
  width: 100vw;
  overflow-y: auto;

  .table-documents {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;

    th,
    td {
      padding: 12px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }

    .doc-title {
      font-size: 1rem;
      color: #333;
    }

    /* Icona documento */
    .doc-icon {
      width: 24px;
      height: 24px;
    }

    /* Icona info */
    .icon-info {
      cursor: pointer;
      transition: fill 0.3s ease;
      border-radius: 0.5rem;
      background-color: variables.$first-color;
      padding: 0.5rem;
      color: white;
      border: 0.1rem solid variables.$first-color;
      cursor: pointer;
      transition:
        background-color 0.3s ease,
        color 0.3s ease;

      &:hover {
        background: variables.$third-color;
        color: variables.$first-color;
        border: 0.1rem solid variables.$first-color;
      }
    }
  }

  .map {
    width: 100%;
    height: 92vh;

    .button-overlay {
      position: absolute;
      z-index: 1000;
      bottom: 0.5%;
      left: 5%;

      .doc-img {
        transform: scale(0.7);
        display: flex;
      }

      .add-document {
        display: flex;
        margin-top: 2%;
        margin-left: 0.5%;
        border-radius: 1rem;
        background-color: variables.$third-color;
        padding: 0.5rem;
        color: variables.$first-color;
        border: 0.1rem solid variables.$first-color;
        cursor: pointer;
        transition:
          background-color 0.3s ease,
          color 0.3s ease;

        &:hover {
          background-color: #bfbfac;
          color: variables.$first-color;
          border: 0.1rem solid variables.$first-color;
        }
      }
    }
  }

  .sidebar {
    right: -30%;
    width: 30%;
    height: 100vh;
    background: linear-gradient(38deg, #183d5d, #d9a65f);
    position: fixed;
    overflow-x: hidden;
    transition: right 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: column;
    padding: 10px;

    &.open {
      right: 0;
    }

    img {
      transform: scale(0.7);
    }

    hr {
      margin: 1%;
    }

    .container-btns {
      display: flex;
      width: 90%;
      justify-content: right;
      margin-top: 5px;
      gap: 10px;

      .btn-download-sidebar {
        padding: 3px 5px;
        background-color: inherit;
        border: none;
        border-radius: 23px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: variables.$third-color;
        }

        .btn-download-img {
          height: 25px;
          padding-bottom: 2px;
        }
      }

      .btn-close-sidebar {
        padding: 3px 3px;
        background-color: inherit;
        border: none;
        border-radius: 23px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: variables.$third-color;
        }

        .btn-close-img {
          height: 28px;
        }
      }
    }

    .content {
      width: 90%;
      margin-top: 10px;
      padding: 4px 15px;
      background-color: #f3f3eb;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      color: #333;
      font-size: 1rem;
      line-height: 1.5;
      overflow-y: auto;
      max-height: 80vh;

      p {
        color: variables.$first-color;
        margin-bottom: 10px;
        font-size: 0.9rem;
      }

      h2,
      h3 {
        color: variables.$first-color;
        font-size: 1.5rem;
        font-weight: bold;
      }

      h4 {
        color: variables.$first-color;
        font-weight: normal;
        font-size: medium;
        a {
          font-weight: bold;
        }
      }

      .connection-group {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;

        .btn-add-button {
          display: flex;
          justify-content: center;
          align-items: center;
          color: #ddd;
          background-color: variables.$first-color;
          padding: 0.7rem;
          border-radius: 50%;
          width: 1.5rem;
          height: 1.5rem;
          margin-left: 5%;
          margin-bottom: 2%;

          &:hover {
            background-color: variables.$second-color;
            color: variables.$first-color;
          }
        }
      }
    }
  }
}

// Da eliminare quando ci sarà la mappa e decommentare lo stile sopra

.doc-img {
  transform: scale(0.7);
}

.add-document {
  margin-top: 2%;
  margin-left: 0.5%;
  border-radius: 1rem;
  background-color: variables.$third-color;
  padding: 0.5rem;
  color: variables.$first-color;
  border: 0.1rem solid variables.$first-color;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;

  &:hover {
    background-color: #bfbfac;
    color: variables.$first-color;
    border: 0.1rem solid variables.$first-color;
  }
}
