@use "Color";

.body-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 90vh;
  overflow-y: auto;

  .map {
    width: 100%;
    height: 92vh;
    position: relative;

    .button-overlay {
      position: absolute;
      bottom: 5%;
      left: 1.3%;
      display: flex;
      justify-content: center;
      align-items: center;

      .doc-btn {
        border-radius: 1rem;
        width: 13vw;
        height: 8vh;
        background-color: Color.$third;
        color: Color.$first;
        border: 0.2rem solid Color.$first;
        cursor: pointer;
        transition:
          background-color 0.3s ease,
          color 0.3s ease;

        &:hover {
          background-color: #bfbfac;
          color: Color.$first;
        }

        .add-container,
        .back-container {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 1rem;

          .material-symbols-outlined {
            margin-left: 1rem;
            transform: scale(1.3);
          }

          h4 {
            font-family: "SwedenSansBold", sans-serif;
            margin-bottom: 0;
            font-size: 1.3rem;
          }
        }
      }
    }
  }
}
