@use "Color";

.links-table {
  width: 100%;
  border-collapse: collapse;

  thead {
    width: 100%;
  }

  tbody {
    max-height: 50vh;
    overflow-y: auto;
    width: 100%;
  }

  th,
  td {
    border: 1px solid #ddd;
    padding: 0.3rem;
    text-align: center;
  }

  th:nth-child(1),
  td:nth-child(1) {
    width: 10%;

    img {
      height: 4vh;
      transform: scale(0.7);
    }
  }

  th:nth-child(2),
  td:nth-child(2) {
    width: 50%;
  }

  th:nth-child(3),
  td:nth-child(3) {
    width: 20%;
  }

  th:nth-child(4),
  td:nth-child(4) {
    width: 20%;
  }

  th {
    background-color: Color.$first;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  tr:hover {
    background-color: #f1f1f1;
  }

  img {
    transform: scale(0.5);
  }

  .remove-link {
    cursor: pointer;
    border-radius: 8px;
    padding: 0.1rem;
  }
}
