@use "Color";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-size: 1.5vmin;
}

.form {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color: #f7f7f7;
  max-height: fit-content;

  .login-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }

  .left-panel {
    width: 66vw;
    height: 100vh;
    display: flex;
    background: variables.$first-color;
    flex-direction: column;
    justify-content: center;
    color: white;
    overflow: hidden;

    h1 {
      color: #ddd;
      padding: 4%;
      margin-top: 12%;
      font-size: 7vmin;
      font-family: "SwedenSansBold", sans-serif;
    }

    p {
      font-family: "SwedenSans", sans-serif;
      color: #ddd;
      font-size: 2vmin;
      padding: 4%;
      margin-top: 5vmin;
    }

    img {
      object-fit: cover;
      transform: scale(1.2);
      width: 100%;
      height: auto;
    }
  }

  .right-panel {
    width: 44vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3vmin;
    z-index: 1;
    background-color: white;
    font-family: "SwedenSansBold", sans-serif;

    h2 {
      color: Color.$first;
      font-size: 5vmin;
      margin-bottom: 5vmin;
    }

    form {
      width: 100%;
      max-width: 60%;
      display: flex;
      flex-direction: column;
      margin-bottom: 2vmin;
    }

    label {
      color: Color.$first;
      font-size: 2vmin;
      margin-bottom: 1vmin;
      font-weight: bold;
    }

    .input-email {
      padding: 1.5vmin;
      font-size: 1.8vmin;
      margin-bottom: 2vmin;
      border: 0.2vmin solid #ddd;
      border-radius: 1vmin;

      &.is-invalid {
        border-color: #dc3545;
        box-shadow: 0 0 5px rgba(220, 53, 69, 0.5);
      }
    }

    .input-password {
      padding: 1.5vmin;
      font-size: 1.8vmin;
      border: 0.2vmin solid #ddd;
      border-radius: 1vmin;

      &.is-invalid {
        border-color: #dc3545;
        box-shadow: 0 0 5px rgba(220, 53, 69, 0.5);
      }
    }

    input:focus {
      border-color: variables.$first-color;
      outline: none;
    }

    .forgot-password {
      text-align: right;
      margin-top: 1vmin;
      margin-bottom: 5vmin;

      a {
        font-size: 1.5vmin;
        color: Color.$first;
        text-decoration: none;
      }

      :hover {
        text-decoration: underline;
      }
    }

    button {
      width: 100%;
      padding: 1.5vmin;
      font-size: 2vmin;
      color: white;
      border-radius: 1vmin;
      cursor: pointer;
      background: variables.$first-color;
      background-size: 200% 100%;
      background-position: 201%;
      transition: background-position 0.5s ease;

      &:hover {
        background-color: variables.$first-color-hover;
      }
    }

    .signup {
      margin-top: 2vmin;
      font-size: 1.5vmin;
      color: Color.$first;

      a {
        color: variables.$first-color;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
