@use "Color";

.map-icon-documents {
  border: 2px solid Color.$first;
  border-radius: 50%;
  width: 8vh;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: Color.$third;
  cursor: pointer;

  &:hover {
    background-color: Color.$second;
  }

  .doc-img {
    width: 4vh;
    height: 4vh;
  }
}
