@use "Color";

.map-icon-documents {
  border: 2px solid Color.$first;
  border-radius: 50%;
  width: 8vh;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: Color.$third;
  cursor: pointer;

  &:hover {
    background-color: Color.$second;
  }

  .doc-img {
    width: 4vh;
    height: 4vh;
  }
}

.map-types {
  position: absolute;
  top: 2%;
  left: 1.7%;
  z-index: 1;

  select {
    padding: 15%;
    border-radius: 1rem;
    border: 0.2rem solid Color.$first;
    background-color: Color.$third;
    color: Color.$first;
    font-family: "SwedenSansBold", sans-serif;
    font-size: 1.3rem;
  }
}
