@use "variables";

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  .modal-content {
    background: #f3f3eb;
    padding: 2rem;
    border-radius: 16px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    max-width: 40%;
    max-height: 90vh;
    overflow-y: auto;

    h2 {
      font-size: 1.8rem;
      font-weight: bold;
      color: variables.$first-color;
      margin-bottom: 1.5rem;
      text-align: center;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .test {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
      }
      .form-group {
        display: flex;
        flex-direction: column;
        //justify-content: space-between;
        gap: 0.5rem;

        label {
          font-size: 1rem;
          font-weight: bold;
          color: variables.$first-color;

          a {
            font-weight: normal;
          }
        }

        input,
        textarea {
          padding: 0.75rem;
          border: 1px solid #ddd;
          border-radius: 8px;
          font-size: 1rem;
          color: variables.$first-color;

          &::placeholder {
            color: rgba($color: variables.$first-color, $alpha: 0.4);
          }

          &:focus {
            border-color: variables.$second-color;
            outline: none;
          }
        }

        select {
          padding: 0.75rem;
          border: 1px solid #ddd;
          border-radius: 8px;
          font-size: 1rem;
          color: #333;
          background-color: #fff;
          box-sizing: border-box;

          &:focus {
            border-color: variables.$second-color;
            outline: none;
          }
        }
      }
    }

    textarea {
      resize: vertical;
      min-height: 80px;
    }
  }

  .button-group {
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    .submit-button,
    .cancel-button {
      flex: 1;
      padding: 0.75rem;
      font-weight: bold;
      border-radius: 8px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      text-align: center;
    }

    .submit-button {
      background-color: variables.$first-color;
      padding: 1rem;
      color: white;
      border: 0.1rem solid variables.$first-color;
      cursor: pointer;
      transition:
        background-color 0.3s ease,
        color 0.3s ease;

      &:hover {
        background: variables.$third-color;
        color: variables.$first-color;
        border: 0.1rem solid variables.$first-color;
      }
    }

    .cancel-button {
      background-color: #ccc;
      color: variables.$first-color;
      border: none;

      &:hover {
        background-color: #b3b3b3;
      }
    }
  }
}

.coordinates {
  display: flex;
  gap: 1rem;
}

.latitude {
  width: 20%;
}

.coord-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;

  label {
    font-size: 1rem;
    font-weight: bold;
    color: variables.$first-color;

    a {
      font-weight: normal;
    }
  }
}

input,
textarea {
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
  color: variables.$first-color;

  &::placeholder {
    color: variables.$first-color;
  }

  &:focus {
    border-color: variables.$second-color;
    outline: none;
  }
}

.no-spin {
  ::-webkit-outer-spin-button,
  ::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.checkbox-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;

  .checkbox-label {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    cursor: pointer;
    width: calc(33.33% - 1rem);

    input[type="checkbox"] {
      margin-right: 10px;
      width: 20px;
      height: 20px;
      cursor: pointer;
      accent-color: #007bff;

      &:hover {
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
      }

      &:checked {
        background-color: #007bff;
        border: 1px solid #007bff;
      }
    }
  }
}

.scale {
  align-items: center;
}
