@use "Color";

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  .modal-content {
    background: #f3f3eb;
    border-radius: 16px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    max-width: 60% !important;
    max-height: 100vh !important;
    overflow-y: auto;

    h2 {
      font-size: 1.8rem;
      font-weight: bold;
      color: Color.$first;
      margin-bottom: 2vh;
      text-align: center;
    }

    button.close {
      background-color: Color.$first;
      color: Color.$third;
      border: 2px solid Color.$first;
      border-radius: 50%;
      position: absolute;
      top: 2%;
      right: 2%;
      width: 2vw;
      height: 2vw;
      transition: background-color 0.3s;

      &:hover {
        background: Color.$third;
        color: Color.$first;
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1vh;

    .form-group {
      width: 100%;
      display: flex;
      flex-direction: column;

      label {
        font-size: 1rem;
        font-weight: bold;
        color: Color.$first;
      }

      input,
      textarea {
        padding: 0.8vh 1ch;
        border: 1px solid #ddd;
        border-radius: 8px;
        font-size: 1rem;
        color: Color.$first;
      }

      select {
        padding: 1vh;
        border: 1px solid #ddd;
        border-radius: 8px;
        font-size: 1rem;
        color: #333;
        background-color: #fff;
      }

      :focus {
        border-color: Color.$second;
        outline: none;
      }

      .checkbox-group {
        display: flex;
        flex-wrap: wrap;
        --columns-count: 2;

        .checkbox-label {
          display: flex;
          align-items: center;
          margin-bottom: 8px;
          cursor: pointer;
          width: calc(100% / var(--columns-count, 2) - 0.5rem);

          input[type="checkbox"] {
            margin-right: 1rem;
            width: 1rem;
            height: 1rem;
            accent-color: Color.$first;
          }
        }
      }
    }

    .line {
      display: flex;
      gap: 1rem;

      .form-group {
        gap: 0.5rem;
        width: 100%;
      }
    }

    .button-group {
      display: flex;
      justify-content: space-between;
      gap: 1rem;

      .submit-button,
      .cancel-button {
        flex: 1;
        padding: 0.75rem;
        font-weight: bold;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        text-align: center;
      }

      .submit-button {
        background-color: Color.$first;
        color: white;
        border: 0.1rem solid Color.$first;

        &:hover {
          background: Color.$third;
          color: Color.$first;
        }
      }
    }
  }

  textarea {
    resize: vertical;
    min-height: 8vh;
  }
}

.modal-overlay-2 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  .modal-content-2 {
    background: #f3f3eb;
    border-radius: 16px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    width: 60% !important;
    height: 90vh !important;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vh;

    h2 {
      font-size: 1.8rem;
      font-weight: bold;
      color: Color.$first;
      margin-bottom: 2vh;
      text-align: center;
    }

    .close-button-2 {
      background-color: Color.$first;
      color: white;
      border: 0.1rem solid Color.$first;
      position: absolute;
      top: 6%;
      right: 21%;
      border-radius: 50%;
      width: 2vw;
      height: 2vw;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background: Color.$third;
        color: Color.$first;
      }

      .btn-close-img {
        height: 1.5vh;
      }
    }
    body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: transparent;
      align-items: center;
      width: 90%;
      .links-table-container {
        top: 30%;
        width: 100%;
        table {
          width: 100%;
          border-collapse: collapse;

          th,
          td {
            border: 1px solid #ddd;
            padding: 0.3rem;
            text-align: center;
          }

          th {
            background-color: Color.$first;
            color: white;
          }

          tr:nth-child(even) {
            background-color: #f2f2f2;
          }

          tr:hover {
            background-color: #f1f1f1;
          }

          img {
            transform: scale(0.5);
          }
          .remove-link {
            cursor: pointer;
            border-radius: 8px;
            padding: 0.1rem;
          }
        }
      }

      .bottom-group {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        form {
          width: 80%;
          display: inline-flex;
          justify-content: space-between;
          gap: 1rem;
          position: relative;
          align-items: center;

          button,
          select,
          input {
            border-radius: 8px;
            padding: 10px;
            z-index: 1000;
          }

          .form-group {
            position: absolute;
            bottom: 85%;
            left: 0;
            right: 0;
            border: 1px solid #ddd;
            background-color: white;
            z-index: 999;
            max-height: 700%;
            overflow-y: auto;
            width: 60.5%;
            padding-bottom: 1%;
            .suggestion-item {
              padding: 6px;
              cursor: pointer;

              &:hover {
                background-color: Color.$third;
              }
            }
          }

          button {
            width: 20%;
          }
        }

        .button-group-2 {
          position: static;
          bottom: 5%;
          width: 100%;
          bottom: 0;
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          gap: 1rem;

          .submit-button-2,
          .cancel-button-2 {
            flex: 1;
            padding: 0.75rem;
            font-weight: bold;
            border-radius: 8px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            text-align: center;
          }

          .submit-button-2 {
            background-color: Color.$first;
            color: white;
            border: 0.1rem solid Color.$first;

            &:hover {
              background: Color.$third;
              color: Color.$first;
            }
          }
        }
      }
    }
  }
}
