@use "Color";

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  .modal-content {
    background: #f3f3eb;
    padding: 2rem;
    border-radius: 16px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    max-width: 40%;
    max-height: 90vh;
    overflow-y: auto;

    h2 {
      font-size: 1.8rem;
      font-weight: bold;
      color: Color.$first;
      margin-bottom: 1.5rem;
      text-align: center;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      .form-group {
        display: flex;
        flex-direction: column;
        //justify-content: space-between;
        gap: 0.5rem;

        label {
          font-size: 1rem;
          font-weight: bold;
          color: Color.$first;

          a {
            font-weight: normal;
          }
        }

        select {
          padding: 0.75rem;
          border: 1px solid #ddd;
          border-radius: 8px;
          font-size: 1rem;
          color: #333;
          background-color: #fff;
          box-sizing: border-box;

          &:focus {
            border-color: Color.$second;
            outline: none;
          }
        }
      }
    }
  }

  .input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    label {
      font-size: 1rem;
      font-weight: bold;
      color: Color.$first;
    }

    input {
      padding: 0.75rem;
      border: 1px solid #ddd;
      border-radius: 8px;
      font-size: 1rem;
      color: #333;
      background-color: #fff;
      box-sizing: border-box;

      &:focus {
        border-color: Color.$second;
        outline: none;
      }
    }
  }
  .button-group {
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    .submit-button,
    .cancel-button {
      flex: 1;
      padding: 0.75rem;
      font-weight: bold;
      border-radius: 8px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      text-align: center;
    }

    .submit-button {
      background-color: Color.$first;
      padding: 1rem;
      color: white;
      border: 0.1rem solid Color.$first;
      cursor: pointer;
      transition:
        background-color 0.3s ease,
        color 0.3s ease;

      &:hover {
        background: Color.$third;
        color: Color.$first;
        border: 0.1rem solid Color.$first;
      }
    }

    .cancel-button {
      background-color: #ccc;
      color: Color.$first;
      border: none;

      &:hover {
        background-color: #b3b3b3;
      }
    }
  }
}
