@use "variables";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.nav-header {
  height: 8vh;
  padding: 1rem 2rem;
  display: flex;
  background: variables.$main-color;

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .nav-left {
      display: flex;

      .nav-logo {
        width: 2.5rem;
        height: auto;
        margin-right: 0.5rem;
        border-radius: 2rem;
      }

      .nav-brand {
        font-size: 1.5rem;
        font-weight: bold;
        color: #ddd;
        display: flex;
        align-items: center;
      }
    }

    .nav-loggedIn {
      display: flex;
      align-items: center;
      gap: 1rem;

      .username {
        display: flex;
        background-color: variables.$first-color;
        border: 0.1rem solid variables.$first-color;
        border-radius: 1rem;

        h4 {
          color: #ddd;
          padding: 0.5rem 1rem;
          font-size: 1rem;
          font-weight: bold;
          margin-top: 6%;
        }
      }

      .button-container {
        display: flex;
        justify-content: center;
        align-items: center;

        button {
          background-color: variables.$first-color;
          border: 0.1rem solid variables.$first-color;
          color: #ddd;
          padding: 0.5rem 1rem;
          font-size: 1rem;
          border-radius: 1rem;
          cursor: pointer;
          transition:
            background-color 0.3s ease,
            color 0.3s ease;

          &:hover {
            background: variables.$third-color;
            color: variables.$first-color;
            border: 2px solid variables.$first-color;
          }
        }
      }
    }

    .btn-login {
      background-color: variables.$first-color;
      border: 0.1rem solid variables.$first-color;
      color: #ddd;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      border-radius: 1rem;
      cursor: pointer;
      transition:
        background-color 0.3s ease,
        color 0.3s ease;

      &:hover {
        background: variables.$third-color;
        color: variables.$first-color;
        border: 2px solid variables.$first-color;
      }
    }
  }
}
