@use "Color";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.nav-header {
  height: 8vh;
  padding: 1rem 2rem;
  display: flex;
  background: Color.$main-color;

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: #ddd;

    .nav-left {
      display: flex;

      .nav-logo {
        width: 2.5rem;
        height: auto;
        margin-right: 0.5rem;
        border-radius: 2rem;
      }

      .nav-brand {
        font-size: 1.5rem;
        font-weight: bold;
        display: flex;
        align-items: center;
      }
    }

    .nav-right {
      display: flex;
      column-gap: 1rem;

      .username {
        display: flex;
        align-items: center;
        background-color: Color.$first-color;
        border: 0.1rem solid Color.$first-color;
        border-radius: 1rem;
        padding: 0 2ch;
      }

      button {
        padding: 0.5rem 1rem;
        background-color: Color.$first-color;
        color: #ddd;
        font-size: 1rem;
        border: 2px solid Color.$first-color;
        border-radius: 1rem;
        cursor: pointer;
        transition: 0.3s ease;

        &:hover {
          background: Color.$third-color;
          color: Color.$first-color;
          border-color: Color.$first-color;
          transform: scale(1.05);
        }
      }
    }
  }
}
