@use "Color";

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;

  .popup {
    background-color: #fff;
    padding: 1rem;
    border-radius: 1rem;
    width: 30%;
    height: 15%;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    h2 {
      font-family: "SwedenSansBold", sans-serif;
      color: Color.$first;
      margin-bottom: 1rem;
    }

    p {
      font-family: "SwedenSansBook", sans-serif;
      color: Color.$first;
      margin-bottom: 1.5rem;
    }

    .btn-group {
      display: flex;
      justify-content: space-between;
      gap: 1rem;

      button {
        height: 2.5rem;
      }

      .cancel-btn {
        width: 100%;
        background-color: #f0f0f0;
        color: #333333;
        border: 0.1rem solid #bcbcbc;
        border-radius: 1rem;

        &:hover {
          background-color: #e0e0e0;
          border: 0.1rem solid #bcbcbc;
        }
      }

      .delete-btn {
        width: 100%;
        background-color: #d9534f;
        border: 0.1rem solid #d9534f;
        color: white;
        border-radius: 1rem;

        &:hover {
          background-color: #c12e2a;
          border: 0.1rem solid #c12e2a;
        }
      }
    }
  }
}
