@use "Color";

.search-bar {
}

.add-link-button {
  font-weight: bold;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  background-color: Color.$first;
  color: white;
  border: 0.1rem solid Color.$first;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background: Color.$first-hover;
    color: white;
  }
}
