@use "Color";

#search-input-container {
  width: 75%;
  position: relative;

  .search-input {
    width: 100%;
    border-radius: 1rem;
    padding: 0.4em 3rem;
    outline: none;
  }

  .search-icon-mg {
    position: absolute;
    width: 20px;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 1.2rem;
  }

  .search-icon-x {
    position: absolute;
    width: 15px;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 1.2rem;
    cursor: pointer;
  }
}

.suggestions-dropdown {
  position: absolute;
  top: 30px;
  left: 0;
  width: 75%;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;

  .suggestion-item {
    padding: 0.5rem;
    cursor: pointer;

    &:hover {
      background-color: #e1e1e1;
    }
  }
}
