@use "Color";

.sidebar {
  right: -30%;
  width: 30%;
  height: 100vh;
  background: Color.$sidebar-background;
  position: fixed;
  overflow-x: hidden;
  transition: right 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1vh;

  &.open {
    right: 0;
  }

  hr {
    width: 90%;
    margin: 1vh 0;
  }

  .container-btns {
    display: flex;
    width: 90%;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5vw;

    .btn-download-sidebar,
    .btn-close-sidebar {
      display: flex;
      justify-content: center;
      padding: 3px 3px;
      background-color: inherit;
      border: 0.1rem solid white;
      border-radius: 100%;
      cursor: pointer;
      transition: background-color 0.3s;

      .btn-download-img,
      .btn-close-img {
        height: 3vh;
        transform: scale(0.9);
      }

      &:hover {
        background-color: Color.$first-hover;
      }
    }
  }

  .content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    margin-top: 1vh;
    padding: 1vh 1vw;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #333;
    line-height: 1.5;
    overflow-y: auto;
    max-height: 80vh;

    .size {
      font-size: 4rem;
    }

    p,
    h2,
    h3,
    h4 {
      color: Color.$first;
    }

    p {
      font-family: "SwedenSans", sans-serif;
      font-size: 1.2rem;
      margin-bottom: 0.1vh;
    }

    h2,
    h3 {
      font-family: "SwedenSansBold", sans-serif;
      font-size: 1.5rem;
      font-weight: bold;
    }

    h4 {
      font-weight: normal;
      font-size: 1.3rem;

      span {
        font-family: "SwedenSansBold", sans-serif;
        font-weight: bold;
      }
    }

    .connection-group {
      display: flex;
      align-items: center;

      .btn-add-button {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ddd;
        background-color: Color.$first;
        border-radius: 50%;
        width: 2vw;
        height: 2vw;
        margin-left: 2vw;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: Color.$second;
        }
      }

      .see-links {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 2%;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        padding: 0.5rem 0.5rem;
        background-color: inherit;
        border: 0.2rem solid Color.$first;
        cursor: pointer;
        transition: background-color 0.3s;

        span.material-symbols-outlined {
          font-size: 1.5rem;
          transition: font-size 0.3s ease;
        }

        &.fill {
          background-color: Color.$first;

          &:hover {
            background-color: Color.$first-hover;
            border-color: Color.$first-hover;
          }
        }

        &.no-fill {
          &:hover {
            background-color: Color.$first;
          }
        }

        .dark {
          color: Color.$first;

          &.fill {
            color: white;
          }

          &.no-fill {
            &:hover {
              color: white;
              border: 0.2rem Color.$first;
            }
          }
        }
      }
    }

    .btn-group {
      position: absolute;
      bottom: 1rem;
      right: 1rem;
      display: flex;
      gap: 0.5rem;

      .btn-edit {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        border: 0.1rem solid Color.$first;
        background-color: Color.$first;
        color: white;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin: 0 0.5rem;

        span.material-symbols-outlined {
          font-size: 1.5rem;
          transition: font-size 0.3s ease;
        }

        &.pos {
          background-color: #4caf50;
          border: 0.1rem solid #4caf50;

          &:hover {
            background-color: #388e3c;
            border: 0.1rem solid #388e3c;
          }
        }

        &.delete {
          background-color: #d9534f;
          border: 0.1rem solid #d9534f;

          &:hover {
            background-color: #c12e2a;
            border: 0.1rem solid #c12e2a;
          }
        }

        &:hover {
          background-color: Color.$first-hover;
          border: none;
        }
      }
    }
  }

  // Media queries per la responsività
  @media (max-width: 1024px) {
    right: -40%;
    width: 40%;
    .content {
      padding: 1vh 0.5vw;
      .size {
        font-size: 3rem;
      }
    }
  }

  @media (max-width: 768px) {
    right: -50%;
    width: 50%;
    .content {
      padding: 1vh 0.5vw;
      .size {
        font-size: 2.5rem;
      }
    }
  }

  @media (max-width: 480px) {
    right: -100%;
    width: 100%;
    .container-btns {
      flex-direction: column;
      gap: 1vh;
    }
    .content {
      .size {
        font-size: 2rem;
      }
    }
  }
}
