@use "Color";

.sidebar {
  right: -30%;
  width: 30%;
  height: 100vh;
  background: Color.$sidebar-background;
  position: fixed;
  overflow-x: hidden;
  transition: right 0.3s linear;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5vh;
  padding: 1vh;

  &.open {
    right: 0;
  }

  hr {
    width: 100%;
    margin: 1vh 0;
  }

  .container-btns {
    display: flex;
    width: 90%;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5vw;

    .btn-download {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      border: 0.1rem solid white;
      background-color: Color.$first;
      color: white;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: Color.$first-hover;
      }
    }

    .btn-close-sidebar {
      display: flex;
      justify-content: center;
      padding: 3px 3px;
      background-color: inherit;
      border: 0.1rem solid white;
      border-radius: 100%;
      cursor: pointer;
      transition: background-color 0.3s;

      .btn-download-img,
      .btn-close-img {
        height: 3vh;
        transform: scale(0.9);
      }

      .dark {
        &.fill {
          color: white;
        }
      }

      &:hover {
        background-color: Color.$first-hover;
      }
    }
  }

  @media (max-width: 768px) {
    right: -50%;
    width: 50%;
    .content {
      padding: 1vh 0.5vw;
      .size {
        font-size: 2.5rem;
      }
    }
  }

  @media (max-width: 480px) {
    right: -100%;
    width: 100%;
    .container-btns {
      flex-direction: column;
      gap: 1vh;
    }
    .content {
      .size {
        font-size: 2rem;
      }
    }
  }
}
