@use "Color";

.edit-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  .edit-update-modal {
    font-family: "SwedenSans", sans-serif;
    position: absolute;
    background-color: Color.$third;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 85%;
    width: 38vw;
    border-radius: 1rem;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 1000;

    button.close {
      position: absolute;
      $close-button-size: 3em;
      width: $close-button-size;
      height: $close-button-size;
      $close-button-gap: 10px;
      top: $close-button-gap;
      right: $close-button-gap;
      border-radius: 50%;
      border: none;
      background-color: Color.$first;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        height: 3vh;
        transform: scale(0.9);
      }

      &:hover {
        background-color: Color.$first-hover;
      }
    }

    .upload-form-title {
      font-family: "SwedenSansBold", sans-serif;
      font-size: 4ch;
      color: Color.$first;
      margin: 0;
      text-align: center;
    }

    .modal-content {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      font-family: "SwedenSans", sans-serif;
      height: 90%;

      h3 {
        font-size: 3ch;
        color: Color.$first;
        text-align: center;
      }

      .documents-list {
        height: 90%;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        padding: 0.4rem;
        border-radius: 8px;
        border: 1px solid #ccc;

        .document-item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0.6rem;
          border-bottom: 1px solid #ddd;

          span {
            flex: 1;
            margin-right: 1rem;
            font-size: 2.5ch;
          }

          button.link-btn {
            width: 70px;
            background-color: transparent;
            border-color: Color.$first;
            color: Color.$first;
          }
          button.linked {
            background-color: Color.$first;
            color: white;
          }
        }
      }
    }
  }
}
