@use "Color";

form {
  font-family: "SwedenSans", sans-serif;
  position: absolute;
  background-color: Color.$third;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 85%;
  width: 38vw;
  border-radius: 1rem;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 1000;

  button.close {
    position: absolute;
    $close-button-size: 3em;
    width: $close-button-size;
    height: $close-button-size;
    $close-button-gap: 10px;
    top: $close-button-gap;
    right: $close-button-gap;
    border-radius: 50%;
    border: none;
    background-color: Color.$first;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 3vh;
      transform: scale(0.9);
    }

    &:hover {
      background-color: Color.$first-hover;
    }
  }

  h2 {
    font-size: 3vmin;
  }

  h2 {
    font-family: "SwedenSansBold", sans-serif;
    color: Color.$first;
    margin: 0;
  }

  .upload-form-title {
    font-size: 20px;
  }

  .upload-form-header {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    h2 {
      text-align: center;
    }
  }

  .form-content {
    height: 70%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;

    .form-content {
      .upload-box {
        height: 30%;
        text-align: center;
        border: 2px dashed Color.$first;
        background-color: lightgray;
        border-radius: 8px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .uploaded-files {
        max-height: 60%;
        width: 100%;
        background-color: white;
        border: 1px solid lightgray;
        border-radius: 8px;
        padding: 1rem;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

        h3 {
          font-size: 1.5rem;
          margin-bottom: 0.5rem;
          color: darkgray;
        }

        ul {
          max-height: 90%;
          overflow-y: auto;
          list-style: none;

          .uploaded-file-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.5rem;
            border-bottom: 1px solid lightgray;

            &:last-child {
              border-bottom: none;
            }

            input {
              flex: 1;
              padding: 0.5rem;
              border: 1px solid lightgray;
              border-radius: 5px;
              margin-right: 0.5rem;
            }

            .remove-btn {
              padding: 0.5rem;
              background-color: Color.$first;
              color: white;
              border: none;
              border-radius: 5px;
              cursor: pointer;
              transition: background-color 0.3s ease;

              &:hover {
                background-color: Color.$first-hover;
              }
            }
          }
        }
      }
    }

    .actions {
      display: flex;
      justify-content: flex-end;
      gap: 1ch;
      width: 100%;

      button {
        flex: 1;
      }
      .primary {
        &:hover {
          background-color: Color.$first-hover;
        }
      }
    }
  }
  input:not([type="checkbox"]),
  textarea,
  select {
    padding: 0.4em 1ch;
  }

  .checkbox-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 0.5rem;

    label {
      width: 48%;
    }
  }

  input[type="checkbox"] {
    margin-right: 0.8ch;
  }
}

button[type="submit"] {
  color: white;
  font-size: 1.2rem;
  &:hover {
    background-color: Color.$first-hover;
    transform: scale(1.005);
  }
}
