@use "Color";

.upload-container {
  background: linear-gradient(#005293 85%, #fecb00);
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  button {
    font-weight: bold;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    background-color: Color.$first;
    color: white;
    border: 0.1rem solid Color.$first;

    &:hover {
      background: Color.$first-hover;
      color: white;
    }

    &.add-upload {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    }
  }

  .upload-table {
    display: block;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 10px;
    overflow: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    font-family: "SwedenSansBold", sans-serif;

    th,
    td {
      padding: 0.8rem 1rem;
      text-align: center;
      background-color: white;
    }

    th {
      background-color: Color.$first;
      color: white;
      top: 0;
      font-size: 1.5rem;
      letter-spacing: 0.1em;
      border-right: 1px solid #ddd;
    }

    th:last-child {
      border: none;
    }

    td {
      font-size: 1.2rem;
      border: 1px solid #ddd;
    }

    tr:last-child td {
      border-bottom: none;
    }

    .upload-actions button {
      margin: 0 1rem;
    }
  }
}

.delete-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "SwedenSansBold", sans-serif;

  .delete-modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 30%;

    .delete-modal-actions {
      margin-top: 20px;

      button {
        margin: 0 10px;

        &.cancel-btn {
          background-color: #f0f0f0;
          color: #333333;
          border: 0.1rem solid #bcbcbc;
          border-radius: 1rem;

          &:hover {
            background-color: #e0e0e0;
            border: 0.1rem solid #bcbcbc;
          }
        }

        &.delete-btn {
          background-color: #d9534f;
          border: 0.1rem solid #d9534f;
          color: white;
          border-radius: 1rem;

          &:hover {
            background-color: #c12e2a;
            border: 0.1rem solid #c12e2a;
          }
        }
      }
    }
  }
}
