$main-color: linear-gradient(45deg, #005293, #fecb00);
$sidebar-background: linear-gradient(180deg, #005293, #005293, #fecb00);
$dark-main-color: linear-gradient(135deg, #0c2b46, #a47634);
$first-color: #005293;
$first-color-hover: #1a3050;
$second-color: #fecb00;
$third-color: #e8e3d1;
